Package: pbzip2
Version: 1.1.9-1
Architecture: amd64
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 168
Depends: libbz2-1.0, libc6 (>= 2.4), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: utils
Priority: optional
Homepage: http://compression.ca/pbzip2/
Description: parallel bzip2 implementation
 pbzip2 is a parallel implementation of the bzip2 block-sorting file
 compressor that uses pthreads and achieves near-linear speedup on SMP
 machines. The output of this version is fully compatible with bzip2
 v1.0.2 (ie: anything compressed with pbzip2 can be decompressed with
 bzip2).
